@charset "UTF-8";
@media screen and (max-width: 400px) {
  /*HEADER*/
  .grid {
    display: grid;
    grid-template-areas: "título icono";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2%;
  }
  .navar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 2%;
  }
  .navar__li {
    font-size: 2rem;
    list-style-type: none;
  }
  .navar__li:hover {
    background-color: #F27405;
  }
  .navar__a {
    text-decoration: none;
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /*MAIN INICIO*/
  .ofertas__h2 {
    font-size: 3rem;
    text-align: center;
    padding: 2%;
    color: #fafafa;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .ofertas__galeria {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2%;
    justify-content: space-evenly;
    align-items: center;
  }
  .ofertas__card {
    background-color: #F29F05;
    border-radius: 5%;
    border: solid 5px #BF4904;
    margin: 2%;
  }
  .ofertas__card--img {
    border-radius: 5%;
    width: 300px;
    height: 200px;
  }
  .ofertas__card--p {
    text-align: center;
    padding: 5%;
    font-size: 2rem;
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /*MAIN COLECTIVOS*/
  .colectivos {
    padding: 2%;
  }
  .colectivos__h2 {
    text-align: center;
    font-size: 3rem;
    color: #fafafa;
    padding: 2%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .colectivos__style {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
  }
  .colectivos__card {
    background-color: #F29F05;
    border-radius: 5%;
    border: solid 5px #BF4904;
    margin: 2%;
  }
  .colectivos__img {
    width: 300px;
    height: 200px;
    border-radius: 5%;
  }
  .colectivos__p {
    text-align: center;
    padding: 5%;
    font-size: 2rem;
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /*FOOTER*/
  .grid__footer {
    display: grid;
    grid-template-areas: "redess" "copia" "tienda";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .grid__redes {
    grid-area: redess;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3%;
  }
  .grid__derechos {
    grid-area: copia;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .grid__local {
    grid-area: tienda;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 3%;
  }
}
@media screen and (max-width: 600px) {
  /*HEADER*/
  .navar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 2%;
  }
  .navar__li {
    font-size: 2rem;
    list-style-type: none;
  }
  .navar__li:hover {
    background-color: #F27405;
  }
  .navar__a {
    text-decoration: none;
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /*MAIN INICIO*/
  .ofertas__h2 {
    font-size: 3rem;
    text-align: center;
    padding: 2%;
    color: #fafafa;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .ofertas__galeria {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2%;
    justify-content: space-evenly;
    align-items: center;
  }
  .ofertas__card {
    background-color: #F29F05;
    border-radius: 5%;
    border: solid 5px #BF4904;
    margin: 2%;
  }
  .ofertas__card--img {
    border-radius: 5%;
    width: 300px;
    height: 200px;
  }
  .ofertas__card--p {
    text-align: center;
    padding: 5%;
    font-size: 2rem;
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /*MAIN COLECTIVOS*/
  .colectivos {
    padding: 2%;
  }
  .colectivos__h2 {
    text-align: center;
    font-size: 3rem;
    color: #fafafa;
    padding: 2%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .colectivos__style {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
  }
  .colectivos__card {
    background-color: #F29F05;
    border-radius: 5%;
    border: solid 5px #BF4904;
    margin: 2%;
  }
  .colectivos__img {
    width: 300px;
    height: 200px;
    border-radius: 5%;
  }
  .colectivos__p {
    text-align: center;
    padding: 5%;
    font-size: 2rem;
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .logo {
    background-color: #034046;
  }
  .logo__img {
    padding: 3%;
    height: 200px;
    width: 100%;
  }
  /*FOOTER*/
}
@media screen and (max-width: 775px) {
  /*HEADER*/
  .navar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 2%;
  }
  .navar__li {
    font-size: 2rem;
    list-style-type: none;
  }
  .navar__li:hover {
    background-color: #F27405;
  }
  .navar__a {
    text-decoration: none;
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /*MAIN INICIO*/
  .ofertas__h2 {
    font-size: 3rem;
    text-align: center;
    padding: 2%;
    color: #fafafa;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .ofertas__galeria {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2%;
    justify-content: space-evenly;
    align-items: center;
  }
  .ofertas__card {
    background-color: #F29F05;
    border-radius: 5%;
    border: solid 5px #BF4904;
    margin: 2%;
  }
  .ofertas__card--img {
    border-radius: 5%;
    width: 300px;
    height: 200px;
  }
  .ofertas__card--p {
    text-align: center;
    padding: 5%;
    font-size: 2rem;
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /*MAIN COLECTIVOS*/
  .colectivos {
    padding: 2%;
  }
  .colectivos__h2 {
    text-align: center;
    font-size: 3rem;
    color: #fafafa;
    padding: 2%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .colectivos__style {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
  }
  .colectivos__card {
    background-color: #F29F05;
    border-radius: 5%;
    border: solid 5px #BF4904;
    margin: 2%;
  }
  .colectivos__img {
    width: 300px;
    height: 200px;
    border-radius: 5%;
  }
  .colectivos__p {
    text-align: center;
    padding: 5%;
    font-size: 2rem;
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .logo {
    background-color: #034046;
  }
  .logo__img {
    padding: 3%;
    height: 200px;
    width: 100%;
  }
  /*FOOTER*/
}
@media screen and (max-width: 966px) {
  /*HEADER*/
  .navar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 2%;
  }
  .navar__li {
    font-size: 2rem;
    list-style-type: none;
  }
  .navar__li:hover {
    background-color: #F27405;
  }
  .navar__a {
    text-decoration: none;
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /*MAIN INICIO*/
  .ofertas__h2 {
    font-size: 3rem;
    text-align: center;
    padding: 2%;
    color: #fafafa;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .ofertas__galeria {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2%;
    justify-content: space-evenly;
    align-items: center;
  }
  .ofertas__card {
    background-color: #F29F05;
    border-radius: 5%;
    border: solid 5px #BF4904;
    margin: 2%;
  }
  .ofertas__card--img {
    border-radius: 5%;
    width: 300px;
    height: 200px;
  }
  .ofertas__card--p {
    text-align: center;
    padding: 5%;
    font-size: 2rem;
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /*MAIN COLECTIVOS*/
  .colectivos {
    padding: 2%;
  }
  .colectivos__h2 {
    text-align: center;
    font-size: 3rem;
    color: #fafafa;
    padding: 2%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .colectivos__style {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
  }
  .colectivos__card {
    background-color: #F29F05;
    border-radius: 5%;
    border: solid 5px #BF4904;
    margin: 2%;
  }
  .colectivos__img {
    width: 300px;
    height: 200px;
    border-radius: 5%;
  }
  .colectivos__p {
    text-align: center;
    padding: 5%;
    font-size: 2rem;
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .logo {
    background-color: #034046;
  }
  .logo__img {
    padding: 3%;
    height: 200px;
    width: 100%;
  }
  /*FOOTER*/
}
@media screen and (max-width: 1075px) {
  /*MAIN INICIO*/
  .ofertas__h2 {
    font-size: 3rem;
    text-align: center;
    padding: 2%;
    color: #fafafa;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .ofertas__galeria {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2%;
    justify-content: space-evenly;
    align-items: center;
  }
  .ofertas__card {
    background-color: #F29F05;
    border-radius: 5%;
    border: solid 5px #BF4904;
    margin: 2%;
  }
  .ofertas__card--img {
    border-radius: 5%;
    width: 300px;
    height: 200px;
  }
  .ofertas__card--p {
    text-align: center;
    padding: 5%;
    font-size: 2rem;
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /*MAIN COLECTIVOS*/
  .colectivos {
    padding: 2%;
  }
  .colectivos__h2 {
    text-align: center;
    font-size: 3rem;
    color: #fafafa;
    padding: 2%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .colectivos__style {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
  }
  .colectivos__card {
    background-color: #F29F05;
    border-radius: 5%;
    border: solid 5px #BF4904;
    margin: 2%;
  }
  .colectivos__img {
    width: 300px;
    height: 200px;
    border-radius: 5%;
  }
  .colectivos__p {
    text-align: center;
    padding: 5%;
    font-size: 2rem;
    color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .logo {
    background-color: #034046;
  }
  .logo__img {
    padding: 3%;
    height: 200px;
    width: 100%;
  }
  /*FOOTER*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #034046;
}

.grid {
  display: grid;
  grid-template-areas: "título icono";
  grid-template-columns: 35fr 1fr;
  grid-template-rows: 1fr;
  padding: 2%;
}

.título {
  grid-area: título;
  display: flex;
  justify-content: center;
  align-items: center;
}
.título__a {
  text-decoration: none;
}
.título__h1 {
  font-size: 6rem;
  color: #fafafa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.icono {
  grid-area: icono;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icono__a {
  text-decoration: none;
}
.icono__img {
  width: 100%;
}

.navar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  padding: 2%;
}
.navar__li {
  font-size: 2rem;
  list-style-type: none;
}
.navar__li:hover {
  background-color: #F27405;
}
.navar__a {
  text-decoration: none;
  color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*INICIO*/
main {
  background-color: #034046;
}

.form_buscar_vuelo {
  padding: 6%;
}
.form_buscar_vuelo__título {
  font-size: 3rem;
  text-align: center;
  background-color: #F27405;
  border-radius: 5%;
  color: #fafafa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.form_buscar_vuelo__style {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.form_buscar_vuelo__indicador {
  font-size: 1.5rem;
}
.form_buscar_vuelo__selda {
  padding: 2%;
  width: 30%;
}
.form_buscar_vuelo__btn {
  border-radius: 30%;
  padding: 1%;
  background-color: #F27405;
  color: #fafafa;
  font-size: 1.5rem;
}
.form_buscar_vuelo__p {
  font-size: 1.5rem;
}

.ofertas__h2 {
  font-size: 3rem;
  text-align: center;
  padding: 2%;
  color: #fafafa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.ofertas__galeria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2%;
  justify-content: space-evenly;
  align-items: center;
}
.ofertas__card {
  background-color: #F29F05;
  border-radius: 5%;
  border: solid 5px #BF4904;
}
.ofertas__card--img {
  border-radius: 5%;
  width: 300px;
  height: 200px;
}
.ofertas__card--p {
  text-align: center;
  padding: 5%;
  font-size: 2rem;
  color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*VIAJES*/
.destino__h2 {
  font-size: 3rem;
  text-align: center;
  padding: 2%;
  color: #fafafa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.destino__galeria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
}
.destino__card {
  background-color: #F29F05;
  border-radius: 5%;
  border: solid 5px #BF4904;
  margin: 2%;
}
.destino__card--img {
  border-radius: 5%;
  width: 300px;
  height: 200px;
}
.destino__card--p {
  text-align: center;
  padding: 5%;
  font-size: 2rem;
  color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*COLECTIVOS*/
.colectivos {
  padding: 2%;
}
.colectivos__h2 {
  text-align: center;
  font-size: 3rem;
  color: #fafafa;
  padding: 2%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.colectivos__style {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
}
.colectivos__card {
  background-color: #F29F05;
  border-radius: 5%;
  border: solid 5px #BF4904;
}
.colectivos__img {
  width: 300px;
  height: 200px;
  border-radius: 5%;
}
.colectivos__p {
  text-align: center;
  padding: 5%;
  font-size: 2rem;
  color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parrafo {
  margin: 7%;
  border: solid 8px #F29F05;
}
.parrafo__h3 {
  font-size: 2rem;
  color: #fafafa;
  padding: 1%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.parrafo__p {
  padding: 2%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  background-color: #034046;
}
.logo__img {
  padding: 3%;
  height: 200px;
}

/*CONTACTANOS*/
.form_contactanos {
  padding: 6%;
}
.form_contactanos__título {
  font-size: 3rem;
  text-align: center;
  background-color: #F27405;
  border-radius: 5%;
  color: #fafafa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.form_contactanos__style {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.form_contactanos__indicador {
  font-size: 1.5rem;
}
.form_contactanos__selda {
  padding: 2%;
  width: 30%;
}
.form_contactanos__botones {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_contactanos__btn {
  border-radius: 30%;
  padding: 5%;
  background-color: #F27405;
  color: #fafafa;
  font-size: 1.5rem;
}
.form_contactanos__p {
  font-size: 1.5rem;
}

.consulta {
  padding: 1%;
}
.consulta__p {
  text-align: center;
  font-size: 1.5rem;
  padding: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.consulta__a {
  text-decoration: none;
}

/*ACERCA DE NOSOTROS*/
.historia__h2 {
  font-size: 4rem;
  text-align: center;
  padding: 3%;
  color: #fafafa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.historia__p {
  color: #fafafa;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  padding: 4%;
  border: solid 5px #F29F05;
}

/*USUARIO*/
.form_registro {
  padding: 6%;
}
.form_registro__título {
  font-size: 3rem;
  text-align: center;
  background-color: #F27405;
  border-radius: 5%;
  color: #fafafa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.form_registro__style {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.form_registro__indicador {
  font-size: 1.5rem;
}
.form_registro__selda {
  padding: 2%;
  width: 30%;
}
.form_registro__btn {
  border-radius: 30%;
  padding: 1%;
  background-color: #F27405;
  color: #fafafa;
  font-size: 1.5rem;
}
.form_registro__p {
  font-size: 1.5rem;
}

/*TERMINOS Y CONDICIONES*/
.terminos_condiciones__h2 {
  font-size: 4rem;
  text-align: center;
  padding: 3%;
  color: #fafafa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.terminos_condiciones__p {
  color: #fafafa;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  padding: 4%;
  border: solid 5px #F29F05;
  border-radius: 5%;
}

/*INICIO*/
footer {
  background-color: #034046;
}

.grid__footer {
  display: grid;
  grid-template-areas: "redess copia tienda";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.grid__redes {
  grid-area: redess;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3%;
}

.título__redes {
  font-size: 2rem;
  color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.redes__a {
  text-decoration: none;
}
.redes__img {
  width: 15%;
  padding: 3%;
}

.grid__derechos {
  grid-area: copia;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.derechos__p {
  font-size: 1.5rem;
  color: #fafafa;
}

.grid__local {
  grid-area: tienda;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 3%;
}

.título__local {
  width: 100%;
  color: #fafafa;
  font-size: 2rem;
  text-align: end;
  padding-right: 12%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.local__p {
  font-size: 1.5rem;
  text-align: center;
  color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}/*# sourceMappingURL=style.css.map */