@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*INICIO*/
header {
  background-color: #012326;
}

.grid {
  display: grid;
  grid-template-areas: "logo título icono";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__a {
  text-decoration: none;
}
.logo__img {
  width: 30%;
  padding: 5%;
}

.título {
  grid-area: título;
  display: flex;
  justify-content: center;
  align-items: center;
}
.título__a {
  text-decoration: none;
}
.título__h1 {
  font-size: 6rem;
  color: #0396A6;
}

.icono {
  grid-area: icono;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icono__a {
  text-decoration: none;
}
.icono__img {
  padding-left: 65%;
  width: 90%;
}

.navar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  padding: 2%;
}
.navar__li {
  font-size: 2rem;
  list-style-type: none;
}
.navar__li:hover {
  background-color: #F27405;
}
.navar__a {
  text-decoration: none;
  color: #0396A6;
}

/*INICIO*/
main {
  background-color: #012326;
}

.ofertas__h2 {
  font-size: 3rem;
  text-align: center;
  padding: 2%;
}
.ofertas__galeria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2%;
  justify-content: space-evenly;
  align-items: center;
}
.ofertas__card {
  background-color: #F29F05;
  border-radius: 5%;
  border: solid 5px #BF4904;
}
.ofertas__card--img {
  border-radius: 5%;
  width: 300px;
  height: 200px;
}
.ofertas__card--p {
  text-align: center;
  padding: 5%;
  font-size: 2rem;
  color: #0396A6;
}

/*VIAJES*/
.destino__h2 {
  font-size: 3rem;
  text-align: center;
  padding: 2%;
  color: #0396A6;
}
.destino__galeria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
}
.destino__card {
  background-color: #F29F05;
  border-radius: 5%;
  border: solid 5px #BF4904;
  margin: 2%;
}
.destino__card--img {
  border-radius: 5%;
  width: 300px;
  height: 200px;
}
.destino__card--p {
  text-align: center;
  padding: 5%;
  font-size: 2rem;
  color: #0396A6;
}

/*INICIO*/
footer {
  background-color: #012326;
}

.grid__footer {
  display: grid;
  grid-template-areas: "redes copy local";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.grid__redes {
  grid-area: redes;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3%;
}

.título__redes {
  font-size: 2rem;
  color: #0396A6;
}

.redes__a {
  text-decoration: none;
}
.redes__img {
  width: 11%;
  padding: 1%;
}

.grid__derechos {
  grid-area: copy;
  display: flex;
  justify-content: center;
  align-items: center;
}

.derechos__p {
  font-size: 1.5rem;
  color: #0396A6;
}

.grid__local {
  grid-area: local;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 3%;
}

.título__local {
  width: 100%;
  color: #0396A6;
  font-size: 2rem;
  text-align: end;
  padding-right: 12%;
}

.local__p {
  font-size: 1.5rem;
  text-align: center;
  color: #0396A6;
}/*# sourceMappingURL=style.css.map */