header{
    background-color: $color2;
}

.grid{
    display: grid;
    grid-template-areas: "título icono";
    grid-template-columns: 35fr 1fr;
    grid-template-rows: 1fr;
    padding: 2%;
}


.título{
    grid-area: título;
    display: flex;
    justify-content: center;
    align-items: center;

    &__a{
        text-decoration: none;
    }

    &__h1{ 
        font-size:6rem;
        color: $color1;
        font-family: $titulo;
    }
}

.icono{
    grid-area: icono;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__a{
        text-decoration: none;
    }

    &__img{
        width: 100%;
    }
}

.navar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 3%;
    
    &__li{
        font-size: 2rem;
        list-style-type: none;
    }

    &__li:hover{
        background-color: $color4;
        border-radius: 5%;
}

    &__a{
        text-decoration: none;
        color: $color1;
        font-family:$nav;
    }
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    

    &__img{
        width: 10%;
        position: relative;
        left: 21rem;
    }
    
    &__style{
        position: absolute;
        display: none;
        padding: 2%;
        text-align: center;
        width: 94%;
    }

    &__li{
        font-size: 2rem;
        list-style-type: none;
    }

    &__li:hover{
        border-radius: 5%;
    }

    & li:hover .menu__style{
        display: block;
    }

    &__a{
        display: block;
        text-decoration: none;
        color: $color1;
        font-family:$nav;
    }
}



