header{
    background-color: $color2;
}

.grid{
    display: grid;
    grid-template-areas: "título icono";
    grid-template-columns: 35fr 1fr;
    grid-template-rows: 1fr;
    padding: 2%;
}


.título{
    grid-area: título;
    display: flex;
    justify-content: center;
    align-items: center;

    &__a{
        text-decoration: none;
    }

    &__h1{ 
        font-size:6rem;
        color: $color1;
        font-family: $titulo;
    }
}

.icono{
    grid-area: icono;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__a{
        text-decoration: none;
    }

    &__img{
        width: 100%;
    }
}

.navar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 2%;
    
    &__li{
        font-size: 2rem;
        list-style-type: none;
    }

    &__li:hover{
        background-color: $color4;
    }

    &__a{
        text-decoration: none;
        color: $color1;
        font-family:$nav;
    }
}



