header{
    background-color: $color2;
}

.ruta_de_exploración{

    &__ol{
        display: flex;
        gap: 1%;
    }

    &__li{
        font-size: 1.5rem;
        list-style-type: none;
    }

    &__a{
        text-decoration: none;
    }
}

.grid{
    display: grid;
    grid-template-areas: "logo título icono";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;

    &__a{
        text-decoration: none;
    }

    &__img{
        width: 30%;
        padding: 5%;
    }
}

.título{
    grid-area: título;
    display: flex;
    justify-content: center;
    align-items: center;

    &__a{
        text-decoration: none;
    }

    &__h1{
        font-size: 6rem;
        color: $color1;
    }
}

.icono{
    grid-area: icono;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__a{
        text-decoration: none;
    }

    &__img{
        padding-left: 65%;
        width: 90%;
    }
}

.navar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 2%;
    
    &__li{
        font-size: 2rem;
        list-style-type: none;
    }

    &__li:hover{
        background-color: $color4;
    }

    &__a{
        text-decoration: none;
        color: $color1;
    }
}



