/*INICIO*/

main{
    background-color: $color2;
}
.ofertas {

    &__h2{
        font-size: 3rem;
        text-align: center;
        padding: 2%;
    }

    &__galeria{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 2%;
        justify-content: space-evenly;
        align-items: center;
    }

    &__card{
        background-color: $color3;
        border-radius: 5%;   
        border: solid 5px $color5;
    }

    &__card--img{
        border-radius: 5%;
        width: ($ancho / 2) + 150px;
        height: ($alto * 2) - 200px;
    }

    &__card--p{
        text-align: center;
        padding: 5%;
        font-size: 2rem;
        color: $color1;
    }
}

/*VIAJES*/

.destino{

    &__h2{
        font-size: 3rem;
        text-align: center;
        padding: 2%;
        color: $color1;
    }

    &__galeria{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 2%;
    }

    &__card{
        background-color: $color3;
        border-radius: 5%;
        border: solid 5px $color5;
        margin: 2%;
    }

    &__card--img{
        border-radius: 5%;
        width: $ancho;
        height: $alto;
    }

    &__card--p{
        text-align: center;
        padding: 5%;
        font-size: 2rem;
        color: $color1;
    }
}

/*ACERCA DE NOSOTROS*/

.historia {

    &__h2{
        @include size (4rem, center, 3%, $color1);
    } 

    &__p{
        color: map-get($historia, color_de_texto);
        font-size: map-get($historia, tamaño);
        line-height: map-get($historia, interlineado);
        text-align: map-get($historia, alineado);
        padding: map-get($historia, submarco);
        border: map-get($historia, borde);
        border-radius:map-get($historia, border_redondeado);
    }
}

/*TERMINOS Y CONDICIONES*/

.terminos_condiciones{

    &__h2{
        @include size (4rem, center, 3%, $color1);
    }

    &__p{
        color: map-get($historia, color_de_texto);
        font-size: map-get($historia, tamaño);
        line-height: map-get($historia, interlineado);
        text-align: map-get($historia, alineado);
        padding: map-get($historia, submarco);
        border: map-get($historia, borde);
        border-radius:map-get($historia, borde_redondeado);
    }
}